@import url(../css/fonts.css);

:root {
    /* Theme colors */
    --dark: #110212;
    --purple: #1E0321;
    --red: #DE3C4B;
    --light: #FFFFFF;

    /* Theme font-family */
    --Roboto: 'Roboto';
    --RobotoMono: 'RobotoMono';
    --SpaceMono: 'SpaceMono';
}

.post-title h1 {
    font-family: var(--SpaceMono);
    font-size: 30px;
    color: var(--dark);
}

.post-title h2 {
    font-size: 22px;
}

main .post-content .post-title a {
    font-size: 22px;
}

.post-title p {
    font-family: var(--RobotoMono);
    font-size: 18px;
    color: var(--dark);
}

.post-title .img {
    width: 100%;
}

.dark {
    color: var(--dark);
}

.purple {
    color: var(--purple);
}

.red {
    color: var(--red);
}

.light {
    color: var(--light);
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.code {
    background-color: rgba(0, 0, 0, 0.1);
}

.post-title p a.link {
    font-size: 18px;
    color: var(--red);
}

.post-title ul a.link {
    font-size: 20px;
    color: var(--red);
}

footer.footer {
    margin-top: 10rem;
}



@media only screen and (max-width:750px) {
    .post-title h1 {
        font-size: 25px;
    }

    .post-title h2 {
        font-size: 18px;
    }

    main .post-content .post-title a {
        font-size: 18px;
    }
    
    .post-title p {
        font-size: 15px;
    }

    .post-title p a.link {
        font-size: 15px;
    }

    .post-title ul a.link {
        font-size: 18px;
        color: var(--red);
    }
}

@media only screen and (max-width:520px) {
    .post-title h1 {
        font-size: 20px;
    }

    .post-title h2 {
        font-size: 16px;
    }

    main .post-content .post-title a {
        font-size: 16px;
    }
    
    .post-title p {
        font-size: 12px;
    }

    .post-title p a.link {
        font-size: 12px;
    }

    .post-title ul a.link {
        font-size: 16px;
        color: var(--red);
    }
}